@font-face {
  font-family: 'malgun';
  src: url('./assets/font/malgun.ttf')
}

@font-face {
  font-family: 'malgunbd';
  src: url('./assets/font/malgunbd.ttf')
}

@font-face {
  font-family: 'malgunsl';
  src: url('./assets/font/malgunsl.ttf')
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('./assets/font/GmarketSansTTFMedium.ttf')
}

@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url('./assets/font/GmarketSansTTFLight.ttf')
}

@font-face {
  font-family: 'GmarketSansTTFBold';
  src: url('./assets/font/GmarketSansTTFBold.ttf')
}

body {
  margin: 0;
  padding: 0;
}